<div class="checkbox">
    <label>
        <input ng-model="setting.value" name="{{setting.key}}" type="checkbox" ng-checked="setting.value.toLowerCase() === 'true'" checked="{{setting.value.toLowerCase()}}">
        {{setting.caption}}
    </label>
</div>
