<div class="tree">
    <div class="textback">
        <h2 class="wood-title">О нас</h2>
        <p>
            Отсутствие щелей между брёвнами достигается использованием специального разметочного приспособления, а утеплитель размещается вдоль бревна в изоляционном канале. При этом сохраняются все естественные изгибы бревна, что придаёт каждому дому, каждой стене <mark>неповторимость и индивидуальный характер</mark>.
            Вершиной <strong>плотницкого мастерства</strong> являются плотно, с точностью до миллиметра подогнанные угловые соединения брёвен. Собственный вес брёвен в сочетании с плотной подгонкой придают дому прочность и надёжность. Особенностью данной технологии является <strong>сохранение крепкого внешнего слоя</strong> древесины, что не даёт стенам промерзать при низких температурах и значительно увеличивает срок жизни строения. Бережно сохраняемый наружный слой участвует в правильной фильтрации воздуха древесиной, создаёт неповторимый микроклимат внутри строения, прохладу летом и тепло зимой. Дополнительно, сохранение крепкого внешнего слоя (наружные 3—5 см) делает древесину более устойчивой к воздействию внешней среды, образованию плесени, грибка, посинению, изменению структуры под воздействием ультрафиолетовых лучей за счет естественной защиты.
        </p>
        <div class="social-block">
            <a tooltip-placement="left" tooltip="Поделиться в Вконтакте" href="http://vk.com/share.php?url=http://3stvola.by" target="_blank">
                <span class="icon-vk"></span>
            </a>
            <a tooltip-placement="right" tooltip="Поделиться в Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://3stvola.by" target="_blank">
                <span class="icon-facebook"></span>
            </a>
        </div>
    </div>
</div>
