<div class="tree">
    <div class="textback">
        <h2 class="wood-title">Контакты</h2>
        <ul class="list-unstyled phones-list">
            <li>
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:+375441111111">+375 (44) 111-11-11 </a>
            </li>
            <li>
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:+375441111111">+375 (44) 111-11-11 </a>
            </li>
            <li>
                <span class="glyphicon glyphicon-phone"></span>
                <a href="tel:+375441111111">+375 (44) 111-11-11 </a>
            </li>
        </ul>
        <p>
        </p>
    </div>
</div>
