<div>
    <div class="carousel-wrapper">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="{{slide.followUrl}}">
                    <img class="img-responsive img-rounded" ng-src="{{slide.url}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.title}}</p>
                    </div>
                </a>
            </slide>
        </carousel>
    </div>
</div>
<div class="tree">
    <div class="textback">
        <h3>ThreeTrunks<small></small></h3>
        <p>
           
        </p>
    </div>
</div>
